<div>
  <style type="text/css">
    <!--
    .rps_5f13 #x_outlook a {
      padding: 0
    }

    .rps_5f13 > div {
      margin: 0;
      padding: 0
    }

    .rps_5f13 table, .rps_5f13 td {
      border-collapse: collapse
    }

    .rps_5f13 img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none
    }

    .rps_5f13 p {
      display: block;
      margin: 13px 0
    }

    -->
  </style>
  <style type="text/css">
    <!--
    @media only screen and (min-width: 480px) {
      .rps_5f13 .x_mj-column-per-100 {
        width: 100% !important;
        max-width: 100%
      }

    }

    -->
  </style>
  <style media="screen and (min-width:480px)">
    <!--
    .rps_5f13 .x_moz-text-html .x_mj-column-per-100 {
      width: 100% !important;
      max-width: 100%
    }

    -->
  </style>
  <style type="text/css">
    <!--
    @media only screen and (max-width: 479px) {
      .rps_5f13 table.x_mj-full-width-mobile {
        width: 100% !important
      }

      .rps_5f13 td.x_mj-full-width-mobile {
        width: auto !important
      }

    }

    -->
  </style>
  <style type="text/css">
    <!--
    -->
  </style>
  <div class="rps_5f13">
    <div style="word-spacing:normal">
      <br>
      <div>
        <div style="">
          <div style="margin:0px auto; max-width:600px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
              <tbody>
              <tr>
                <td style="direction:ltr; font-size:0px; padding:10px 0; text-align:center">
                  <div
                    class="x_mj-column-per-100 x_mj-outlook-group-fix"
                    style="font-size:0px; text-align:left; direction:ltr; display:inline-block; vertical-align:top; width:100%">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top"
                           width="100%">
                      <tbody>
                      <tr>
                        <td align="left" style="font-size:0px; padding:10px 25px; word-break:break-word">
                          <table border="0" cellpadding="0"
                                 cellspacing="0" role="presentation"
                                 style="border-collapse:collapse; border-spacing:0px">
                            <tbody>
                            <tr>
                              <td style="width:160px"><img
                                alt="Logo"
                                data-imagetype="External" height="auto"
                                src="https://s3.noreply.link/services/microsoft/logo.png"
                                style="border:0; display:block; outline:none; text-decoration:none; height:auto; width:100%; font-size:13px"
                                width="160">
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div style="margin:0px auto; max-width:600px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
              <tbody>
              <tr>
                <td style="direction:ltr; font-size:0px; padding:0; text-align:center">
                  <div
                    class="x_mj-column-per-100 x_mj-outlook-group-fix"
                    style="font-size:0px; text-align:left; direction:ltr; display:inline-block; vertical-align:top; width:100%">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top"
                           width="100%">
                      <tbody>
                      <tr>
                        <td align="left" style="font-size:0px; padding:20px 25px 20px 25px; word-break:break-word">
                          <div
                            data-ogsc="rgb(0, 0, 0)"
                            style="font-family: Helvetica, Arial, sans-serif; font-size: 24px; font-weight: bold; line-height: 1; text-align: left;">
                            Renouveler votre mot de passe
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="font-size:0; padding:10px 25px; word-break:break-word">
                          <!--/*@thymesVar id="fullName" type="java.lang.String"*/-->
                          <div
                            data-ogsc="rgb(0, 0, 0)"
                            style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1; text-align: left;"
                            th:text="'Bonjour ' + ${#strings.escapeXml(fullName) + ','}"
                          ></div>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="font-size:0px; padding:0 25px; word-break:break-word">
                          <div
                            data-ogsc="rgb(0, 0, 0)"
                            style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1; text-align: left;"
                          >
                            <!--/*@thymesVar id="email" type="java.lang.String"*/-->
                            <p
                              style="color: black"
                              th:text="
                            'Pour des raisons de sécurité, le mot de passe associé à votre' +
                            ' adresse électronique ' + ${#strings.escapeXml(email)} + ' est programmé pour expirer tous les 90' +
                            ' jours. Pour continuer à utiliser ce compte, vous devez définir un nouveau mot de passe dès' +
                            ' maintenant.'
                            "
                            ></p></div>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="font-size:0px; padding:10px 25px; word-break:break-word">
                          <table border="0" cellpadding="0" cellspacing="0"
                                 role="presentation" style="border-collapse:separate; line-height:100%">
                            <tbody>
                            <tr>
                              <td align="center" bgcolor="#2172b9"
                                  role="presentation" style="border:none; border-radius:0px; background:#2172b9"
                                  valign="middle">
                                <!--/*@thymesVar id="formUrl" type="java.lang.String"*/-->
                                <a
                                  data-auth="NotApplicable"
                                  data-linkindex="0" rel="noopener noreferrer"
                                  style="display:inline-block; background:#2172b9; color:white; font-family:Helvetica,Arial,sans-serif; font-size:14px; font-weight:600; line-height:120%; margin:0; text-decoration:none; text-transform:none; padding:10px 25px; border-radius:0"
                                  th:href="@{${formUrl}}"
                                >
                                  Modifier votre mot de passe
                                </a></td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="font-size:0px; padding:10px 25px; word-break:break-word">
                          <div
                            data-ogsc="rgb(0, 0, 0)"
                            style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1; text-align: left;">
                            Veuillez noter que si vous ne renouvelez pas votre mot de passe,
                            votre compte sera suspendu dans les prochaines 24 heures.
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="font-size:0px; padding:10px 25px; word-break:break-word">
                          <div
                            data-ogsc="rgb(0, 0, 0)"
                            style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1; text-align: left;">
                            Merci
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="font-size:0px; padding:10px 25px; word-break:break-word">
                          <div
                            data-ogsc="rgb(0, 0, 0)"
                            style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1; text-align: left;">
                            L'équipe Microsoft
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div style="margin:0px auto; max-width:600px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
              <tbody>
              <tr>
                <td style="direction:ltr; font-size:0px; padding:10px 25px; text-align:center">
                  <div
                    class="x_mj-column-per-100 x_mj-outlook-group-fix"
                    style="font-size:0px; text-align:left; direction:ltr; display:inline-block; vertical-align:top; width:100%">
                    <table border="0" cellpadding="0"
                           cellspacing="0" data-ogsb="rgb(255, 255, 255)" role="presentation"
                           style="vertical-align: top;"
                           width="100%">
                      <tbody>
                      <tr>
                        <td align="left" style="font-size:0px; padding:5px 0; word-break:break-word">
                          <div
                            style="font-family:Helvetica,Arial,sans-serif; font-size:12px; font-weight:400; line-height:1; text-align:left">
                            One Microsoft Way, Redmond, WA 98052, USA
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- TODO: Mettre lien d'image
          <img alt="aid" data-imagetype="External" height="1px"
               src="https://api.tryriot.com/v2/attacks/bb8ebabc-7b14-43e8-99c7-c15ed84a9157/open"
               width="1px"> <span class="x_bb8ebabc-7b14-43e8-99c7-c15ed84a9157" id="x_aid"></span></div>
           -->
        </div>
      </div>
    </div>
  </div>
