<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
    <div class="container" style="max-width: 600px; margin: 20px auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
      <div class="header" style="text-align: center; margin-bottom: 20px;">
        <img th:src="@{${logoTrackingPixelUrl}}" style="max-width: 150px;" />
      </div>
      <div class="content" style="margin-bottom: 20px;">
        <h1 th:text="${#strings.escapeXml(subject)}"></h1>
        <p style="white-space:pre-wrap;" th:utext="${htmlParagraphContent}"></p>
      </div>
      <div class="footer" style="text-align: center; font-size: 12px; color: #777777;">
        <p th:text="${'© ' + currentYear + ' ' + #strings.escapeXml(companyName) + '. Tous droits réservés.'}"></p>
      </div>
    </div>
  </body>
</html>
